body {
    background-color: #93e29c3c; 
    font-family: Arial;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ea0bcd6d;
    padding: 1rem 0;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
.centered-header {
    width: 800px;
    margin: 0 auto; 
    color: red;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
h2 {
        color: red;
        font-family: sans-serif;
        font-size: 24px; 
        font-weight: bold; 
        text-align: center; 
        margin: 20px;
        width: 800px; 
    }
    .about-section {
        color: rgba(40, 33, 186, 0.789);
    }
    h3 {
        color: #ff3385; 
        font-size: 25px; 
        font-family: 'Sans-serif'; 
        font-weight: bold;
        text-align: center;
    } 
    h4 {
        color: #b21a7d; 
        font-size: 20px; 
        font-family: 'Sans-serif'; 
        font-weight: bold;
        text-align: justify;
        }
        p {
            color: blue; 
            line-height: 1.6; 
            margin-bottom: 20px; 
            font-family: sans-serif; 
        }
        address {
            color: blue; 
            font-weight: bold; 
            text-align: center; 
            display: block; 
            font-family: Arial, sans-serif;
            font-size: 15px; 
        }
        .hours ul {
            list-style: none; 
            padding: 0; 
        }
        .hours {
            color: blue;
            font-size: 18px; 
            font-weight: bold; 
            text-align: center;  
            font-family: sans serif;
        }


