body {
    background-color: #93e29c3c; 
    font-family: Arial;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ea0bcd6d;
    padding: 1rem 0;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
.centered-header {
    width: 800px;
    margin: 0 auto; 
    color: red;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}